<div>
    <div>
<!--        <p class="decode-result">Last result: <b>{{ result }}</b></p>-->
        <div class="alert alert-primary" role="alert">
            請對準QRCODE進行付款
        </div>
        <button class="btn  btn-primary" @click="onDecode('8c386ef0aa')">測試用</button>
<!--        <qr-stream :camera="camera" @decode="onDecode" @init="onInit">-->
<!--&lt;!&ndash;            <div v-if="validationSuccess" class="validation-success">&ndash;&gt;-->
<!--&lt;!&ndash;                This is a URL&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div v-if="validationFailure" class="validation-failure">&ndash;&gt;-->
<!--&lt;!&ndash;                This is NOT a URL!&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--            <div v-if="validationPending" class="validation-pending">-->
<!--                等待付款中-->
<!--            </div>-->
<!--        </qr-stream>-->
    </div>
</div>