<div class="container" style="margin-top: 30px; text-align: left">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="list-group">
                <a href="#" class="list-group-item">考試用書</a>
                <a href="#" class="list-group-item">專業教科書</a>
                <a href="#" class="list-group-item">語言電腦</a>
                <a href="#" class="list-group-item">宗教人文</a>
                <a href="#" class="list-group-item">藝術設計</a>
                <a href="#" class="list-group-item">旅遊飲食</a>
                <a href="#" class="list-group-item">親子童書</a>
                <a href="#" class="list-group-item">漫畫小說</a>
                <a href="#" class="list-group-item">商業理財</a>
            </div>

            <div class="product-sidebar" style="margin-top: 30px">
                <h5 class="text-center">你可能喜歡</h5>
                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Product 4"></a>
                    </div>
                    <div class="name">
                        <a href="#">我是推薦書籍</a>
                    </div>
                    <div class="price">
                        <span>$722.00</span>
                    </div>
                </div>
                <!--/ Featured Product Item -->

                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product 2"></a>
                    </div>
                    <div class="name">
                        <a href="#">我是推薦書籍</a>
                    </div>
                    <div class="price">
                        <span class="price-new">$866.00</span>
                    </div>
                </div>
                <!--/ Featured Product Item -->

                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Product 3"></a>
                    </div>
                    <div class="name">
                        <a href="#">我是推薦書籍</a>
                    </div>
                    <div class="price">
                        <span>$962.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn-group hidden-xs">
                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" data-container="body" title="List View"><i class="fa fa-th-list"></i></button>
                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" data-container="body" title="Grid View"><i class="fa fa-th"></i></button>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <label class="control-label" for="input-sort">排序:</label>
                </div>
                <div class="col-sm-2 text-right">
                    <select id="input-sort" class="form-control">
                        <option value="" selected="selected">預設</option>
                        <option value="">價錢最高至最低</option>
                        <option value="">價錢最低至最高</option>
                        <option value="">上架日期</option>
                    </select>
                </div>
                <div class="col-sm-1 text-right">
                    <label class="control-label">顯示:</label>
                </div>
                <div class="col-sm-2 text-right">
                    <select class="form-control">
                        <option value="" selected="selected">5</option>
                        <option value="">10</option>
                        <option value="">15</option>
                        <option value="">20</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <a href="release"><button type="button" class="btn btn-primary">發布商品</button></a>
                </div>
            </div>
            <br>
            <div class="row" v-for="doc in this.all_doc_data">
                <!-- Product Item -->
                <div class="product-list col-xs-12" style="margin-left: 10px; margin-right: 10px">
                    <div class="product-item">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product 2"></a>

                        <div class="name">
                            <a href="#">{{doc.book_name}}</a>
                        </div>
                        <div class="description">
                            <p>{{doc.book_description}}</p>
                        </div>
                        <div class="price">
                            <span class="price-new">${{doc.book_money}}</span>
                        </div>
                        <div class="cart">
                            <button type="button" class="btn btn-primary">Add to Cart</button>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
<!--                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>-->
                    </div>
                </div>
                <!--/ Product Item -->
            </div>
        </div>
    </div>
</div>