<div class="container" style="margin-top: 30px; text-align: left">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="list-group">
                <a href="#" class="list-group-item">文學小說</a>
                <a href="#" class="list-group-item">輕小說</a>
                <a href="#" class="list-group-item">漫畫</a>
                <a href="#" class="list-group-item">商業理財</a>
                <a href="#" class="list-group-item">語言</a>
                <a href="#" class="list-group-item">電腦</a>
                <a href="#" class="list-group-item">心理勵志</a>
                <a href="#" class="list-group-item">醫療</a>
                <a href="#" class="list-group-item">宗教</a>
                <a href="#" class="list-group-item">人文</a>
                <a href="#" class="list-group-item">社科</a>
                <a href="#" class="list-group-item">科普</a>
                <a href="#" class="list-group-item">藝術設計</a>
                <a href="#" class="list-group-item">生活風格</a>
                <a href="#" class="list-group-item">旅遊</a>
                <a href="#" class="list-group-item">飲食</a>
                <a href="#" class="list-group-item">親子教養</a>
                <a href="#" class="list-group-item">童書</a>
                <a href="#" class="list-group-item">專業教科書</a>
                <a href="#" class="list-group-item">考試用書</a>
            </div>

            <div class="product-sidebar" style="margin-top: 30px">
                <h5 class="text-center">你可能喜歡</h5>
                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Product 4"></a>
                    </div>
                    <div class="name">
                        <a href="#">Leather laptop bag</a>
                    </div>
                    <div class="price">
                        <span>$722.00</span>
                    </div>
                </div>
                <!--/ Featured Product Item -->

                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product 2"></a>
                    </div>
                    <div class="name">
                        <a href="#">Leather laptop bag navy</a>
                    </div>
                    <div class="price">
                        <span class="price-new">$866.00</span>
                    </div>
                </div>
                <!--/ Featured Product Item -->

                <!-- Featured Product Item -->
                <div class="product-item">
                    <div class="image">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Product 3"></a>
                    </div>
                    <div class="name">
                        <a href="#">Soft leather laptop bag</a>
                    </div>
                    <div class="price">
                        <span>$962.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn-group hidden-xs">
                        <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" data-container="body" title="List View"><i class="fa fa-th-list"></i></button>
                        <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" data-container="body" title="Grid View"><i class="fa fa-th"></i></button>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <label class="control-label" for="input-sort">排序:</label>
                </div>
                <div class="col-sm-2 text-right">
                    <select id="input-sort" class="form-control">
                        <option value="" selected="selected">預設</option>
                        <option value="">價錢最高至最低</option>
                        <option value="">價錢最低至最高</option>
                        <option value="">上架日期</option>
                    </select>
                </div>
                <div class="col-sm-1 text-right">
                    <label class="control-label">顯示:</label>
                </div>
                <div class="col-sm-2 text-right">
                    <select class="form-control">
                        <option value="" selected="selected">5</option>
                        <option value="">10</option>
                        <option value="">15</option>
                        <option value="">20</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <a href="release"><button type="button" class="btn btn-primary">發布商品</button></a>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Product 1"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                            <div class="description">
                                <p>Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel..</p>
                            </div>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                <span>$866.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Waxed canvas laptop bag olive</a>
                            </div>
                        </div>
                        <div class="sale-tag">
                            <span>SALE</span>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product 2"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Waxed canvas laptop bag olive</a>
                            </div>
                            <div class="description">
                                <p>Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</p>
                            </div>
                            <div class="price">
                                <span class="price-new">$830.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Leather laptop bag orange</a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Product 3"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Leather laptop bag orange</a>
                            </div>
                            <div class="description">
                                <p>MacBook Air is ultrathin, ultraportsble, and ultra unlike anything else. But you don't lose inche..</p>
                            </div>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                <span>$866.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Waxed canvas laptop bag navy</a>
                            </div>
                        </div>
                        <div class="sale-tag">
                            <span>SALE</span>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Product 4"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Waxed canvas laptop bag navy</a>
                            </div>
                            <div class="description">
                                <p>Latest Intel mobile architecture Powered by the most advanced mobile processors..</p>
                            </div>
                            <div class="price">
                                <span class="price-new">$1178.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Product 1"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                            <div class="description">
                                <p>Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel..</p>
                            </div>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                <span>$866.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Waxed canvas laptop bag olive</a>
                            </div>
                        </div>
                        <div class="sale-tag">
                            <span>SALE</span>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product 2"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Waxed canvas laptop bag olive</a>
                            </div>
                            <div class="description">
                                <p>Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</p>
                            </div>
                            <div class="price">
                                <span class="price-new">$830.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Leather laptop bag orange</a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Product 3"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Leather laptop bag orange</a>
                            </div>
                            <div class="description">
                                <p>MacBook Air is ultrathin, ultraportsble, and ultra unlike anything else. But you don't lose inche..</p>
                            </div>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                <span>$866.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Waxed canvas laptop bag navy</a>
                            </div>
                        </div>
                        <div class="sale-tag">
                            <span>SALE</span>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Product 4"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Waxed canvas laptop bag navy</a>
                            </div>
                            <div class="description">
                                <p>Latest Intel mobile architecture Powered by the most advanced mobile processors..</p>
                            </div>
                            <div class="price">
                                <span class="price-new">$1178.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

                <!-- Product Item -->
                <div class="product-list col-xs-12">
                    <div class="product-item">
                        <div class="item-overlay">
                            <div class="clickable">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                        </div>
                        <div class="image">
                            <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Product 1"></a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="#">Leather laptop bag navy</a>
                            </div>
                            <div class="description">
                                <p>Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel..</p>
                            </div>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                <span>$866.00</span>
                            </div>
                            <div class="cart">
                                <button type="button" class="btn btn-primary">加入購物車</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
                <!--/ Product Item -->

            </div>
        </div>
    </div>
</div>