<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">BookNut</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between"  id="navbarCollapse">
        <div class="navbar-nav">
        </div>
        <div class="navbar-nav">
        </div>
        <div class="navbar-nav">
            <form class="form-inline" style="padding-top: 15px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" style="width: 300px">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active" style="padding-right: 20px;">首頁</a>
            <div class="nav-item dropdown" style="padding-right: 15px;">
                <a href="old" class="nav-link">交易專區</a>
                <!--                <div class="dropdown-menu">-->
                <!--                    <a href="new" class="dropdown-item">新書專區</a>-->
                <!--                    <a href="old" class="dropdown-item">二手書專區</a>-->
                <!--                </div>-->
            </div>
            <a href="/" class="nav-item nav-link" style="padding-right: 20px;">討論區</a>
        </div>
        <div class="navbar-nav">
<!--            <a href="shopcart" class="nav-item nav-link" :hidden="!isSignin" style="margin-right: 15px">-->
<!--                <i class="fa fa-bell badge-wrapper" style="font-size: 22px">-->
<!--                    <span class='badge badge-secondary'>12{{}}</span>-->
<!--                </i>-->
<!--            </a>-->
            <div class="navbar-nav" :hidden="!isSignin">
                <a href="" style="margin-right: 25px; margin-top: 8px">
                    <i class="fa fa-bell fa-lg" style="font-size: 1.5em"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">100</span>
                </a>

                <img src="../../assets/imgs/png/profile.png" class="rounded-circle z-depth-0" id="profile_header_img" alt="avatar image" style="text-align: center;width: 35px; height: 35px">

                <li class="nav-item dropdown" style="padding-right: 10px">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user_name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding-right: 10px">
                        <a class="dropdown-item" href="profile">個人資料</a>
                        <a class="dropdown-item" href="release" v-if="this.is_real_data_user">賣家中心</a>
                        <a class="dropdown-item" href="buyorder" v-if="this.is_real_data_user">訂單查詢</a>
                        <a class="dropdown-item" href="scanqrcode" v-if="this.is_real_data_user">堅果幣支付</a>
                        <a class="dropdown-item" href="#">常見問題</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" @click="userSignout">登出</a>
                    </div>
                </li>
            </div>
            <a href="shopcart" style="margin-right: 25px; margin-top: 8px">
                <i class="fa fa-shopping-cart fa-lg" style="font-size: 1.5em"></i>
                <span class="badge rounded-pill badge-notification bg-danger">{{shop_cart_amount}}</span>
            </a>
<!--            <a href="shopcart" class="nav-item nav-link">-->
<!--                <img src="../../assets/imgs/png/shopping-cart.png" style="width: 25px; height: 25px">-->
<!--            </a>-->
            <router-link to="/signup" :hidden="isSignin" class="nav-item nav-link">註冊</router-link>
            <router-link to="/signin" :hidden="isSignin" class="nav-item nav-link">登入</router-link>
        </div>
    </div>
</nav>
